<html>
 <head> 
  <meta charset="UTF-8" /> 

 <body style="background-color:#E6E6E6">   
	 <div align="center">
		 <H1> Hello, {{request.user}}, Welcome back to your boiler Dashboard! </H1>
		 
	 </div>

	{% load staticfiles %}
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"> </script>
	 <script src="{% static 'p5.dom.js' %}"> </script>
	
	
<div id="basic"  align="center">		 
	<div>
		 
	<script>


		var radiatortemperature = {{user.profile.actualsanitaryTemp}};
		var radiatorsettemperature = {{user.profile.setsanitaryTemp}};
		var DHWtemperature = {{user.profile.actualhotwaterTemp}};
		var DHWsettemperature = {{user.profile.sethotwaterTemp}};
		var hotwaterstate = {{user.profile.hotwaterstatus}};
		var radiatorsstate = {{user.profile.sanitarystatus}};
		var  track=new Array (8);
		
		
		var RADset;
		var DHWset;

		var DHWset;
		var thermostatpage=false;
		var temperaturepage=false;
		var debounce=0;
		var rectOver= [];
		var moved= [];
		var times = [];
		var check=false;

		var once=false;
		var once2=true;
		var rectX = 10;      // Position of square button
		var rectY = 100;
		var rectSize = 14;  // Diameter of rect
		var rectSizey = 30;


		track[0]="{{user.profile.timer1}}";
		track[1]="{{user.profile.timer2}}";
		track[2]="{{user.profile.timer3}}";
		track[3]="{{user.profile.timer4}}";
		track[4]="{{user.profile.timer5}}";
		track[5]="{{user.profile.timer6}}";
		track[6]="{{user.profile.timer7}}";



		function setup() {

		  frameRate(30);
		  var it = 0;
		  for (it ; it < 7 ;  it++){
		 rectOver[it]= [];
		 moved[it]= [];
		var itr = 0;
		for ( itr = 0; itr<48;itr++){
		  rectOver[it][itr]=false;
		}}

		var myCanvas = createCanvas(800, 480);
		    myCanvas.parent("basic");


		  noStroke();
		  //noLoop();  // Run once and stop

		  background(230);
  
		  RADset = new HScrollbar(0, height/4, width, 16, 16,{{user.profile.sethotwaterTemp}});
		  DHWset = new HScrollbar(0, 3*(height/4), width, 16, 16,{{user.profile.setsanitaryTemp}});

		}


		function temperature(){

		    //hs1.update();
		  //hs2.update();
		  //DHWsettemperature=hs1.display();
		  //sansettemperature=hs2.display();
		  //var r = rSlider.value();
		  //var g = gSlider.value();
		  //background(r, g, b);
		  //text("red", 165, 35);
		  //text("green", 165, 65);


			RADset.update();
			radiatorsettemperature=RADset.display();
			DHWset.update();
			DHWsettemperature=DHWset.display();
		  textSize(80);
		  fill(59,40);
		  text("Hotwater "+ radiatorsettemperature, 190,height/4+25);
		  text("Radiators "+DHWsettemperature, 190,3*height/4+25);
		   noStroke();
		     textSize(25);

   
		     if (hotwaterstate==true){
		       fill(color('#F6AE2D'));
		       rect(100,420,200,50,3);
		     fill(255);
		    text("Hotwater on",125,455);
    
		  }
		  else{
		           fill(50);
		       rect(100,420,200,50,3);
		     fill(255);
		     text("Hotwater off",125,455);

		  }
    
  
		   if (radiatorsstate==true){
		         fill(color('#F6AE2D'));
		     rect(500,420,200,50,3);
		     fill(255);
		  text("Radiators on",525,455);
		}


  
		  else{
		    fill(50);
		     rect(500,420,200,50,3);
		     fill(255);
		    text("Radiators off",525,455);
		  }
   
   
   
   
		   if ( ((mouseX >= 100 && mouseX <= 300) && (mouseY <= 470 && mouseY>=420))&&(millis()-debounce>500)) {
		     if(mouseIsPressed){
		     hotwaterstate=!hotwaterstate;
		     debounce=millis();

		  }

		}

  
		  if ( ((mouseX >= 500 && mouseX <= 700) && (mouseY <= 470 && mouseY>=420))&&(millis()-debounce>500)) {
		    if(mouseIsPressed){
		    radiatorsstate=!radiatorsstate;
		    debounce=millis();
		  //if (radiatorsstate==false){
		  }
  
		    }

  
  
  

  
  
		  for (var u =0; u<=15;u=u+1){
		      textSize(10);
		      fill(0);
		    text(u*5,((785/75)*(u*5)),240);}
    
    



		}


		function draw() {

		background(230);
		  if ( thermostatpage==true) {
    
		    if (once==false){
		    //background(230);
		      var p=0;
		for (p=0;p<7;p++){
		var t=0;
		if (track[p]!=''){
		for (t=0;t<track[p].length;t=t+2){
		    var place1=unchar(track[p][t])-65;
		    var place2=unchar(track[p][t+1])-65;
		    //var place1=2;
		    //var place2=4;
		    var r=0;
		     for (r=place1;r<place2; r++){
		       rectOver[p][r]=true;
		     }
		}
		
		
	}
	else{
		for (t=0;t<48;t++){
		rectOver[p][t]=false;
	}
	}
		}
		// print (track[1]);
		once=true;}


		    thermo();
    
		  } 
  
		  else if ( temperaturepage==true) {
		     // background(230);
		     

		temperature();
		   //
		  }
		  else{
		   dashboard(); 
		  }
  
  


		  if ( (mouseX >= 0 && mouseX <= 275) && (mouseY <= 50 && mouseY >= 0)) {
  		    print("hello");

  		    if (temperaturepage==true) {
  		      temperaturepage=false;
  			  document.getElementById("setsanitaryTemp").value=radiatorsettemperature;
  			  document.getElementById("sethotwaterTemp").value=DHWsettemperature;
  			  document.getElementById("sanitarystatus").value=radiatorsstate;
  			  document.getElementById("hotwaterstatus").value=hotwaterstate;
  			  document.getElementById("myForm").submit();
		      

  		    }

  		    if (thermostatpage==true) {

  		      once=false;
  		        var i=0;
  		     for (i=0;i<7;i++){
  		       track[i]=times[i];
			   if (track[i].length<1){
				   track[i]=0;
  		     }
		   
		   }
			 
     		  document.getElementById("timer1").value=track[0];
     		  document.getElementById("timer2").value=track[1];
     		  document.getElementById("timer3").value=track[2];
     		  document.getElementById("timer4").value=track[3];
     		  document.getElementById("timer5").value=track[4];
     		  document.getElementById("timer6").value=track[5];
     		  document.getElementById("timer7").value=track[6];
     		  document.getElementById("myForm2").submit();
  		      thermostatpage=false;
  		    }

  		  dashboard();
    

    
		  } else if ((mouseX >= 275 && mouseX <= 550 )&& (mouseY <= 50 && mouseY >= 0)) {///////////////////////////////////////////////////
		print("hellov2");

		    temperaturepage= true;
    
		    if (thermostatpage==true) {
		      once=false;
		      thermostatpage=false;
		      var i=0;
		     for (i=0;i<7;i++){
		       track[i]=times[i];
			   if (track[i].length<1){
				   track[i]='0';
			   }
		     }
			 
		  document.getElementById("timer1").value=track[0];
		  document.getElementById("timer2").value=track[1];
		  document.getElementById("timer3").value=track[2];
		  document.getElementById("timer4").value=track[3];
		  document.getElementById("timer5").value=track[4];
		  document.getElementById("timer6").value=track[5];
		  document.getElementById("timer7").value=track[6];
		  document.getElementById("myForm2").submit();
     

		    }



		  } else if ((mouseX >= 550 && mouseX <= 800 )&& (mouseY <= 50 && mouseY >= 0)) {
			  
	  		print("hellv3o");

	  		    thermostatpage=true;
    
	  		    if (temperaturepage==true) {
		   
	  		      temperaturepage=false;
	  			  document.getElementById("setsanitaryTemp").value=radiatorsettemperature;
	  			  document.getElementById("sethotwaterTemp").value=DHWsettemperature;
	  			  document.getElementById("sanitarystatus").value=radiatorsstate;
	  			  document.getElementById("hotwaterstatus").value=hotwaterstate;
	  			  document.getElementById("myForm").submit();

	  		    }
				
				
		   
		  } 
  

    
    
		    noStroke();
		  fill(color('#55DDE0'));
		rect(0,0,275,50);
		 // translate(280,25);
		 fill(255);
		 textSize(30);
		  text("Dashboard",50,35);
  
  
		  fill(color('#33658A'));
		rect(275,0,275,50);
		 fill(255);
		 textSize(30);
		  text("Temperature",325,35);
  
		  fill(color('#2F4858'));
		rect(550,0,275,50);
		 fill(255);
		 textSize(30);
		  text("Thermostat",600,35);

		}
		
		
		
		class HScrollbar {
		  constructor(xp, yp, sw, sh, l,variabl) {
		    this.swidth = sw;
		    this.sheight = sh;
		    let widthtoheight = sw - sh;
		    this.ratio = sw / widthtoheight;
		    this.xpos = xp;
		    this.ypos = yp-this.sheight/2;
		    this.spos = (round(((this.swidth/(75))*(variabl-1))));
		    this.newspos = this.spos;
		    this.sposMin = this.xpos;
		    this.sposMax = this.xpos + this.swidth - this.sheight;
		    this.loose = l;
		    this.over = false;
		    this.locked = false;
		  }

		  update() {
		    if (this.overEvent()) {
		      this.over = true;
		    } else {
		      this.over = false;
		    }
		    if (mouseIsPressed && this.over) {
		      this.locked = true;
		    }
		    if (!mouseIsPressed) {
		      this.locked = false;
		    }
		    if (this.locked) {
		      this.newspos = constrain(mouseX-this.sheight/2, this.sposMin, this.sposMax);
		    }
		    if (abs(this.newspos - this.spos) > 1) {
		      this.spos = this.spos + (this.newspos-this.spos)/this.loose;
		    }
		  }

		  overEvent() {
		    if (mouseX > this.xpos && mouseX < this.xpos+this.swidth &&
		       mouseY > this.ypos-50 && mouseY < this.ypos+this.sheight+50) {
		      return true;
		    } else {
		      return false;
		    }
		  }

		  display() {
		    noStroke();
		    fill(204);
		    rect(this.xpos, this.ypos, this.swidth, this.sheight);
		    if (this.over || this.locked) {
		      fill(0, 0, 0);
		    } else {
		      fill(102, 102, 102);
		    }
		    rect(this.spos, this.ypos, this.sheight, this.sheight);

			
		    
		       return   ((round(75/(800/this.spos)))+1);
		  }

		  getPos() {
		    // Convert spos to be values between
		    // 0 and the total width of the scrollbar
		    return this.spos * this.ratio;
		  }
		}
		
		
		
		


		function dashboard() {
		  push();
		  translate(120, 180);  
		  fill(0);
		  textSize(20);
		  text("Click for Hot Water ", -400, -200);
		  translate(100, 200);
		  pieChart(400, radiatortemperature, "Radiator:", 230, radiatorsettemperature);
		  translate(420, 0);
		  pieChart(400, DHWtemperature, "Hotwater:", 230, DHWsettemperature);
		  translate(-200, -400);
		  translate(-540, -200);
		  pop();
		}
		function pieChart(diameter, data, titles, radius, datain) {

		  var angle =0;
		  noStroke();
		  //push();;
		  //fill(255);
		  //pop();;
		  fill(100);
		  var r=0;
		  while (r<=19) {
		    r++;
		    angle=((((PI/75)*(data)))/20);
		    fill(map(angle*int(r), 0, PI, 0, 255), 0, map(angle*int(r), 0, PI, 255, 0));
		    arc(0, 0, diameter, diameter, ((angle-0.005)*int(r-1))+PI, (angle*(int(r)))+PI);  //0.005 to get rid of the stroke line (overlap)
		  }
		  fill(0);
		  arc(0, 0, 250, 250, PI, 2*PI);
		  push();
		  ;
		  textSize(20);
		  fill(255);
		  text(titles, -65, -40);
		  text(data, -10, -10);
		  text("°", 15, -10);
		  fill(0);
		  textSize(30);
		  text("0°", -125, 30);
		  text("75°", 105, 30);
		  pop();
		  ;
		  push();
		  ;
		  translate(0, -2);
		  rotate(PI/2);
		  rotate(((PI/75)*(datain+0.1)));
		  var theta =((PI/75)*(datain+0.1));
		  strokeWeight(4); 
		  stroke(204, 102, 0);
		  line(0, 0, 0, radius);
		  noStroke();
		  rotate((PI/2));
		  textSize(18);
		  fill(230, 60);
		  rect(120, -30, 150, 30);
		  fill(0);
		  text("Target: ", 130, -10);
		  text(datain, 200, -10);
		  text("°", 223, -10);
		  pop();
		  ;
		  fill(0);
		  arc(0, 0, 250, 250, PI, 2*PI);
		  push();
		  ;
		  textSize(80);
		  fill(255);
		  // text(titles, -130, -30);
		  text(data +"°", -70, -20);

		  pop();
		  ;
		}

		function thermo() {

		  background(230);
		  strokeWeight(1);
		  textSize(20);
		  fill(color('#96BBBB'));
		  //if ( (mouseX >= 700 && mouseX <= 800) && (mouseY <= 140 && mouseY >= 100)) {
		  //  l=0;}
    
		  //  if (l==0){
		  //    fill(color('#96BBBB'));
		  //}
		  //else{
		  // fill(0); 
		  //}
		  text ("Monday", 690, 120);
  
		  //if ( (mouseX >= 700 && mouseX <= 800) && (mouseY <= 190 && mouseY >= 150)) {
		  //  l=1;}
    
		  //  if (l==1){
		  //      fill(color('#96BBBB'));
		  //}
		  //else{
		  // fill(0); 
		  //}
		  text ("Tuesday", 690, 170);
  
		  //if ( (mouseX >= 700 && mouseX <= 800) && (mouseY <= 240 && mouseY >= 200)) {
		  //  l=2;}
    
		  //  if (l==2){
		  //      fill(color('#96BBBB'));
		  //}
		  //else{
		  // fill(0); 
		  //}
		  text ("Wednesday", 690, 220);
  
		  //if ( (mouseX >= 700 && mouseX <= 800) && (mouseY <= 290 && mouseY >= 250)) {
		  //  l=3;}
    
		  //  if (l==3){
		  //      fill(color('#96BBBB'));
		  //}
		  //else{
		  // fill(0); 
		  //}
		  text ("Thursday", 690, 270);
  
		  //if ( (mouseX >= 700 && mouseX <= 800) && (mouseY <= 340 && mouseY >= 300)) {
		  //  l=4;}
    
		  //  if (l==4){
		  //      fill(color('#96BBBB'));
		  //}
		  //else{
		  // fill(0); 
		  //}
		  text ("Friday", 690, 320);
  
		  //if ( (mouseX >= 700 && mouseX <= 800) && (mouseY <= 390 && mouseY >= 350)) {
		  //  l=5;}
    
		  //  if (l==5){
		  //      fill(color('#96BBBB'));
		  //}
		  //else{
		  // fill(0); 
		  //}
		  text ("Saturday", 690, 370);
  
		  //if ( (mouseX >= 700 && mouseX <= 800) && (mouseY <= 440 && mouseY >= 400)) {
		  //  l=6;}
    
		  //  if (l==6){
		  //      fill(color('#96BBBB'));
		  //}
		  //else{
		  // fill(0); 
		  //}
		  text ("Sunday", 690, 420);
		  var l=0;
		  for ( l=0; l <7; l++) {  
    
		   // track[l]=0;
		    var temptrack=0;
		    var sthap=false;
		    times[l]="";
		    for (var i=0; i <48; i++) {
      

		      if ((mouseX >= (rectX+(rectSize*i)) && mouseX <= (rectX+(rectSize*i)+rectSize) && 
		        mouseY >= (rectY + (rectSizey+20)*l) && mouseY <= (rectY + (rectSizey+20)*l)+rectSizey)) {
		          if (mouseIsPressed){
		        if (moved[l][i]==true) {
		          moved[l][i]=false;
		          rectOver[l][i] =!rectOver[l][i];
		          check=true;
		        } else {
		          moved[l][i]=false;
		        }
		      } }else {
		        check=false;
		        moved[l][i]=true;
		        rectOver[l][i]= rectOver[l][i];
		      }
		      rectOver[l][i]= rectOver[l][i];


		      //noStroke();
		      if ((rectOver[l][i]==false)&&(sthap==true)) {
		        times[l]=times[l]+char(i+65);
		     //  temptrack=temptrack+ int(pow(2, i-1));
		        fill(color('#F26419'));
		        sthap=false;
		      } 
		      else if ((rectOver[l][i])&&(sthap==false)) {
		        fill(color('#F6AE2D'));
		        times[l]=times[l]+char(i+65);
		       // temptrack=temptrack+ int(pow(2, i));
		        sthap=true;
		      } else if (rectOver[l][i]) {
		        fill(color('#F6AE2D'));
		      } else {
		        fill(color('#F26419'));
		      }
			  
			  if ((i==47)&&(rectOver[l][i]==true)){
			             times[l]=times[l]+char(48+65);
			           }

		      stroke(255);

		      rect(rectX+(rectSize*i), ((rectY + (rectSizey+20)*l)), rectSize, rectSizey,2);
      
		    //  push();
		      //stroke(0);
		      //line (rectX+(rectSize*i), 90,  (rectX+(rectSize*i)),450);
		      // textSize(10);
		      // var tex;
		      // var timetext = i/2 ;
		       //if (timetext-timetext > 0 ){
		       //  tex= String.valueOf(((int)timetext));
		       //        text (tex, ((rectSize*i)-9),465);
		       //        text (tex, ((rectSize*i)-9),87);
		       //}
       
		       //else{
		       //  tex= String.valueOf(((int)timetext))+":30";
		       //}
       
       


		      //pop();
		    }
    




		  //track[l]=temptrack;

		  }

		}

		
		
	</script>
</div>
</div>
<div align="center">
	 <a href="{% url 'logout' %}"> logout</a>
 </div>
<form id="myForm" method="POST">
  {% csrf_token %}
  <input id = "setsanitaryTemp" type="hidden" name="setsanitaryTemp"><br>
  <input id = "sethotwaterTemp" type="hidden" name="sethotwaterTemp"><br>
  <input id = "sanitarystatus" type="hidden" name="sanitarystatus"><br>
  <input id = "hotwaterstatus" type="hidden" name="hotwaterstatus"><br><br>
  <input type="button" style="visibility:hidden" onclick="myFunction()" value="Submit form">
</form>


<form id="myForm2" method="POST">
  {% csrf_token %}
  <input id = "timer1" type="hidden" name="timer1"><br>
  <input id = "timer2" type="hidden" name="timer2"><br>
  <input id = "timer3" type="hidden" name="timer3"><br>
  <input id = "timer4" type="hidden" name="timer4"><br>
  <input id = "timer5" type="hidden" name="timer5"><br>
  <input id = "timer6" type="hidden" name="timer6"><br>
  <input id = "timer7" type="hidden" name="timer7"><br><br>
  <input type="button" style="visibility:hidden" onclick="myFunction()" value="Submit form">
</form>
 </body>
</html>