<head>
</head>
<body>

<p>Enter some text in the fields below, then press the "Submit form" button to submit the form.</p>

<form id="myForm" method="POST">
  {% csrf_token %}
  First name: <input id = "setsanitaryTemp" type="hidden" name="setsanitaryTemp"><br>
  Last name: <input id = "sethotwaterTemp" type="hidden" name="sethotwaterTemp"><br><br>
  <input type="button" onclick="myFunction()" value="Submit form">
</form>

<script>
function myFunction() {
  document.getElementById("setsanitaryTemp").value="45";
  document.getElementById("sethotwaterTemp").value="45";
  document.getElementById("myForm").submit();
}

</script>

</body>
